@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Evaluación 1er Progreso
        
    </h1>
    <img src="~/Imagen/images.jpg" alt="Momazo" class="meme" />

    <br />
    <br />
    <input type="number" id="Mensaje" min="0"/>
    <button type="button" class="btn btn-outline-info" onclick="Alerta()">Click</button>
</div>


