@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Evaluación 1er Progreso
    </h1>
</div>

<img src="~/Imagen/images.jpg" alt="Momazo" class="meme" />

<input type="text"/>
<button type="button" class="btn btn-outline-info" onclick="Alerta">Click</button>
